@use 'base/variables' as vars;
@use 'base/mixins' as mix;

.contenido-menu {
    background-image: url(../img/cafe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    aspect-ratio: 3 / 8;

    @include mix.telefono {
        aspect-ratio: 3 / 5;
    }

    @include mix.tablet {
        @include mix.grid(2, vars.$separacion);
        aspect-ratio: 16 / 6;
        background-size: 40%;
        background-position: bottom right;
    }

    .texto {
        p{
            font-size: 2rem;
        }

    }
}