@use 'base/variables' as vars;
@use 'base/mixins' as mix;

.contenido-principal {
    background-color: vars.$blanco;
    padding: 5rem 2rem;

    @include mix.tablet {
        padding: 10rem;
        margin-top: -10rem;
        position: relative;
    }
}