@use 'base/variables' as vars;
@use 'base/mixins' as mix;

.beneficios {
    background-color: vars.$primario;

    .grid-beneficios {
        @include mix.tablet {
            @include mix.grid(5, 4rem);
            align-items: center;
        }

        .contenido-beneficios {
            grid-column: 1 / 4;

            h2 {
                @include mix.headingBorder( vars.$secundario, vars.$blanco );
            }
        }

        .imagen {
            grid-column: 4 / 6;
            transition-property: rotate scale;
            transition-duration: 300ms; 

            &:hover {
                transform: rotate(8deg) scale(1.1);
            }
        }
    }
}