@use 'base/variables' as vars;

.slider {
    overflow: hidden;
    position: relative;

    &__slide {
      height: 100%;  
      flex-shrink: 0;
      width: 100%;
      position: relative;
      transition-property: transform;
    }

    &__imagen {
        width: 100%;
    }

    .swiper-button-next, 
    .swiper-button-prev {
        color: vars.$blanco;
    }

    .swiper-pagination-bullet {
        background-color: vars.$blanco;
        opacity: .5;
    }

    .swiper-pagination-bullet-active {
        background-color: vars.$primario;
    }
}