@use 'base/variables' as vars;
@use 'base/mixins' as mix;

.grupos {
    color: vars.$blanco;
    padding: 5rem 0;
    background-image: linear-gradient( to bottom, vars.$primario 0%, vars.$primario 50%, vars.$secundario 50%, vars.$secundario 100%);    

    @include mix.tablet {
        background-image: linear-gradient( to right, vars.$primario 0%, vars.$primario 50%, vars.$secundario 50%, vars.$secundario 100%);    
    }

    &__grid {
        @include mix.grid(1, 5rem);
        @include mix.tablet {
            @include mix.grid(2, 5rem);
        }
    }

    &__heading {
        font-size: 3rem;
    }
    &__texto {
        color: vars.$blanco;
        font-size: 2.4rem;
        line-height: 2;
    }
}